model IEnumerable<SafeEats.Models.RecipeList>

    @{

        Layout = "~/Views/Shared/_SafeEatsLayout.cshtml";
    }

@{
    ViewBag.Title = "Spin";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<div class="spin-wrapper">
    <div id="list-modal" role="dialog" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                @using (Html.BeginForm("CreateRecipe", "Spin", FormMethod.Post, new { id = "list-form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.Hidden("recipeid", ViewBag.CurrentRecipeId as object)
                        <div class="modal-header">Add New List to @ViewBag.CurrentRecipeId</div>
                        <div class="modal-body">@Html.TextBox("recipename")</div>
                        <div class="modal-footer"><input class="btn" type="submit" value="Submit" /></div>
               <!--a href="javascript:document.getElementById('logoutForm').submit()">Log off</a-->
                                     }
            </div>
         </div>
     </div>
     <button class="btn btn-info" data-toggle="modal" data-target="#list-modal">Create</button>
</div>


<div class="container-fluid">
    <div class="row">
        <button>Spin!</button>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h3>ingredient 1</h3>
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Dropdown
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li>ingredient</li>
                    <li>ingredient</li>
                    <li>ingredient</li>
                    <li>ingredient</li>
                    <li>ingredient</li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <h3>ingredient 2</h3>
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Dropdown
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li>ingredient</li>
                    <li>ingredient</li>
                    <li>ingredient</li>
                    <li>ingredient</li>
                    <li>ingredient</li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <h3>ingredient 3</h3>
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Dropdown
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li>ingredient</li>
                    <li>ingredient</li>
                    <li>ingredient</li>
                    <li>ingredient</li>
                    <li>ingredient</li>
                </ul>
            </div>
        </div>

    </div>

    <div class="row">
        <ul class="list-group">
            <li class="list-group-item">First item</li>
            <li class="list-group-item">Second item</li>
            <li class="list-group-item">Third item</li>
        </ul>
    </div>
</div>
    
